@page
@model BerrasBio.Pages.CheckoutModel
@{
    Random randomNumber = new Random();
    int reciept = randomNumber.Next(100000, 999999);
}
<div>
    <h1>Slutgiltig beställning</h1>
    <hr />
    <p>Ditt ordernummer är: @reciept</p>
</div>