html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #faf2e4;
  margin-bottom: 60px;
  margin: 0 10%;
  font-family: sans-serif;
}
h1{
    text-align:center;
    font-family: serif;
    font-weight: normal;
    text-transform:uppercase;
    border-bottom: 1px solid #57b1dc;
}
.NoTickets {
    background: red;

}
#Pricelist {
    vertical-align: top;
    text-align: center;
    margin: auto;
    border: 1px solid black;
    padding: 50px 75px 100px 125px;
}
#tableAboutMovie {
    text-align:left;
   border: 1px solid black;
   padding: 25px 50px 75px 100px
}
